#money-pramid .h5 p{
    margin: 0 30px 4px 8px;
    font-size: 1.5rem;
    color: rgb(236, 225, 71);
}



.anime__details__content{


}
.styleingAnswers {
    width: 200px;
    height: 40px;
    position: relative;
    background: #021442;
    border: 1px solid #fff;
  }
  .styleingAnswers:after { 
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    left: -20px;
    border-right: 20px solid#021442 ;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .styleingAnswers:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid  #021442;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }

  .styleingAnswers-forMain{
      border: 1px solid white;
      border-radius: 2rem !important;
      font-size: 1.4rem !important;
  }

  #questionDiv{
    
  }

.ans{
  font-size: 1.12rem !important;
  letter-spacing:1.4px !important;
}
  .timer{
    background-color: #021442;
    border: 6px solid #064292;
    font-size:4.3rem;
    border-radius: 20rem;
    width:7rem;
    color: #fff;

  }

#timer-clock{
  margin:4.1rem !important;
  flex-direction: column-reverse !important;
  text-align: center;
  color: #fff;
  display: flex;
  align-items:center;
  justify-content: center;
}

#answer-1{
  color: #fff;
}

#modalBtn{
  display: none;
}

 /* #img-logo img{
  max-width: 50% !important;
}  */


#fifty, #callJokerBTN{
  border-radius: 20rem !important;
}



@media only screen and (min-width: 768px) and (max-width: 991px) {


  #img-logo{
    display: none !important;
  }

}


@media only screen and (max-width: 767px) {


  #img-logo{
    display: none !important;
  }

  #forrow{
    flex-direction: column-reverse !important;
  }

}

/* Small Device = 320px */
