
/*--------------------------------- Responsive Media Quaries -----------------------------*/


@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}

	#game-buttons-card-2{
		display: none;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.login__form {
		position: relative;
		padding-left: 32px;
	}
	.login__social__links ul li a {
		width: 380px;
	}

	.login__form {
		position: relative;
		padding-left: 32px;
	}
	.login__social__links ul li a {
		width: 380px;
	}
	.blog__item__text {
		padding: 0 50px;
	}
	.header .container .row{
		flex-wrap: nowrap;
	}
	.header__right {
		display: flex;
		align-items: flex-end;
		justify-content: right;

	}

	#game-buttons-card-2{
		display: none;
	}

}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.header {
		position: relative;
	}
	.header .container {
		position: relative;
	}

	.header .container .row{
		flex-wrap: nowrap;
	}
	.header__right {
		display: flex;
		align-items: flex-end;
		justify-content: right;

	}
	.header__menu {
		display: none;
	}
	.product__sidebar {
		padding-top: 50px;
	}
	.footer__logo {
		text-align: center;
		margin-bottom: 20px;
	}
	.footer__nav {
		margin-bottom: 15px;
	}
	.footer__copyright__text {
		text-align: center;
	}

	
	#main-card{
		justify-content: center !important;
		align-items: center !important;
	} 
	#main-card,#ai-card{
	height:12rem !important;
	}

	#main-card img {
		height: auto !important;
		align-items: center;
		margin-top: 0 !important;
	}

	#ai-card{
		justify-content: center !important;
		align-items: center !important;
	}

	#ai-card img{
		height: auto !important;
		align-items: center;
		margin-top: 0 !important;
	}

	#game-buttons-card{
		display: none !important;
	}

	#main-info-section{
		width: 12rem !important;
	}
	#game-buttons-card{
		display: flex;
		margin-top: 0rem !important;
		align-items: center;
		
	}

	#main-content-commnet{
		margin-top: 10rem !important;
	}

	#game-buttons-card-2{
		margin-top: 0px !important;

	}
	
#game-buttons-rock,
#game-buttons-paper,
#game-buttons-scissors{
    border-radius: 100px;
    width: 3.6rem !important;
    height: 3.6rem !important;
    background-color: #322469 !important;
	margin-left: 0.8rem!important;
}
 #userGameIMG, #aiGameIMG{
	width: 15rem !important;
	height: 5rem !important;
  } 


  .card-body{
	  flex: 0 0 auto;
	  padding: 0px !important;
  }

  .card-body button{
	  width: 6rem !important;
	  margin-bottom: 0.2rem;
  }
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.hero {
		overflow: hidden;
	}
	.header {
		position: relative;
	}
	.header .container {
		position: relative;
	}

	.header .container .row{
		flex-wrap: nowrap;
	}
	.header__right {
		display: flex;
		align-items: flex-end;
		justify-content: right;

	}
	.header__menu {
		display: none;
	}
	
	.footer__logo {
		text-align: center;
		margin-bottom: 20px;
	}
	.footer__nav {
		margin-bottom: 15px;
	}
	.footer__copyright__text {
		text-align: center;
	}
S
	.btn__all {
		text-align: left;
	}
	.product__page__title .section-title {
		margin-bottom: 30px;
	}
	.product__page__title .product__page__filter {
		text-align: left;
	}

	#row-imgs{
		display: flex;
		margin-top: 2rem;
	}
	.product__item{
		margin-top: 5.7rem;
		flex-wrap: nowrap;

	}
	.row {
		margin: 0 auto !important;
	}

/* 
	#main-card{
		justify-content: center !important;
		align-items: center !important;
	} */
	#main-card,#ai-card{
	height:15rem !important;
	}

	#main-card img {
		height: auto !important;
		align-items: center;
		margin-top: 5rem !important;
	}

	#ai-card{
		align-items: center !important;
		justify-content: center !important;
	}

	#ai-card img{
		align-items: center;
		margin-top: 5rem !important;
		height: auto !important;
	}

	#game-buttons-card{
		display: none !important;
	}
	#main-info-section{
		display: none;
	}
	#game-buttons-card{
		display: flex;
		margin-top: 0rem !important;
		align-items: center;
		
	}

	#main-content-commnet{
		margin-top: 10rem !important;
	}

	#game-buttons-card-2{
		margin-top: 0px !important;

	}
	
#game-buttons-rock,
#game-buttons-paper,
#game-buttons-scissors{
    border-radius: 100px;
    width: 3.6rem !important;
    height: 3.6rem !important;
    background-color: #322469 !important;
	margin-left: 0.8rem!important;
}
 #userGameIMG, #aiGameIMG{
	width: 15rem !important;
	height: 5rem !important;
  } 



}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {

	.footer__nav ul li {
		margin-right: 10px;
	}
    .header__right a {
		display: none;
	}
	.header__right{
		display: none;
	}



}